#header{
    width: 500px;
    margin-right:auto;
    margin-right:auto;
    margin-bottom:10px;
    border:soild 8px black;
}
ul{
    list-style-type:none;
    padding-left:0px;
}
body{
    background-image: url('halftone-yellow.png');
}

#leftnav img{

}

#LeftNav ul{  padding-bottom: 8px

}

#leftnav h3{

}
#content{ padding: 15px; 

}

#footer{

}
<html>
<head>
<style>
h1 {
    3px;
}

h2 {
    2px;
}

h3 {
     3px;
}
</style>
</head>
<body>

<h1>Connect with me online1</h1>
<h2>Keith the QB</h2>
<h3>Connect with me 3</h3>

</body>
</html>