#header{
    width: 500px;
    margin-right:auto;
    margin-right:auto;
    margin-bottom:10px;
    border:soild 8px black;
}
ul{
    list-style-type:none;
    padding-left:0px;
}
body{
    background-image: url('halftone-yellow.png');
}

}	
footer a:link { color: #2E0000; }
footer a:visited { color: #000000; }
footer a:hover { color: #F5F5DC; }   
#mobile { display: none; }
#desktop { display: inline; }
table { margin: auto;
      width: 80%;
}



li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

#leftnav img{

}

#LeftNav ul{  padding-bottom: 8px

}


#content{ padding: 15px; 

}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

}

h1 {
    3px;
}

h2 {
    2px;
}

h3 {
     3px;
}
}
nav a { display: block; }
nav a:hover { color: #333300; }
main a:link { color: #FFFFFF; }
main a:visited { color: #EAEAEA; }
main a:hover { color: #FFD700; }	
section { margin: 0; }
#hero { height: auto; }
section img { display: none; }
#mobile { display: inline; }
#desktop { display: none; }
label { float: none; text-align: left; }
input[type="submit"] { margin-left: 0; }
}
